:root {
    --white: #FFFFFF;
    --grey-1: #242424;
    --grey-2: #202020;
    --yellow-1: #f4eddd;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
}


img {
    max-width: 50%;
}

body {
    background-color: var(--white);
    color: var(--grey-1);
}

header, section, footer {
    width: 100vw;
    height: calc(100vh - 60px);
}

header {
    padding-top: 60px;
    background: var(--yellow-1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header>div {
    height: 60px;
    color: var(--white);
    background-color: var(--grey-2);
    position: fixed;
    top: 0;
    width: calc(100% - 2rem);
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: none;
}

header>div>p {
    font-size: 2rem;
    font-weight: bold;
}

header i {
    height: 60px;
    width: calc(40vw - 10px);
    text-align: right;
    font-size: 2.4em;
}

header i:before {
    line-height: 60px;
}

header i + nav {
    display: none;
    position: absolute;
    width: 40vw;
    background: var(--grey-2);
    right: 0;
    top: 100%;
}

header i:hover + nav, header i:focus + nav, header nav:hover, header nav:focus {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

header a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 0;
}

header a:last-of-type {
    padding-bottom: 2rem;
}

header img:first-of-type {
    width: 60vw;
    border-radius: 30vw;
    object-fit: cover;
    margin-bottom: 30px;
}

header img:nth-of-type(2) {
    display: none;
}

header>p {
    width: 80%;
    font-size: 1.4rem;
    color: var(--grey-1);
    text-align: center;
    padding-bottom: 4rem;
}
