:root {
    --white: #FFFFFF;
    --grey-1: #242424;
    --grey-2: #202020;
    --yellow-1: #F4EDDD;
    --green-1: #58B09C;
    --orange-1: #F68265;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
}

body {
    background-color: var(--white);
    color: var(--grey-1);
}

header, section, footer {
    width: 100vw;
}

header, #about, #skillset, footer {
    height: calc(100vh - 60px);
}

.section-link-container {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.fa-caret-down {
    font-size: 2rem;
}

header {
    padding-top: 60px;
    background: var(--yellow-1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header>div {
    height: 60px;
    color: var(--white);
    background-color: var(--grey-2);
    position: fixed;
    top: 0;
    width: calc(100% - 2rem);
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: none;
}

header>div>p {
    font-size: 2rem;
    font-weight: bold;
}

header div>i {
    height: 60px;
    width: calc(120px - 1rem);
    text-align: right;
    font-size: 2.4em;
}

header div>i:before {
    line-height: 60px;
}

header nav {
    display: none;
    position: absolute;
    width: 120px;
    background: var(--grey-2);
    right: 0;
    top: 100%;
}

header i:hover + nav, header i:focus + nav, header nav:hover, header nav:focus {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

header nav>a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 0;
}

header nav>a:last-of-type {
    padding-bottom: 2rem;
}

header img:first-of-type {
    width: 60vw;
    max-width: 50vh;
    max-height: 50vh;
    border-radius: 30vw;
    object-fit: cover;
    margin-bottom: 30px;
}

header img:nth-of-type(2) {
    display: none;
}

header>p {
    width: 80%;
    max-width: 45rem;
    font-size: 1.4rem;
    color: var(--grey-1);
    text-align: center;
    padding-bottom: 4rem;
}

header .fa-caret-down {
    color: var(--grey-1);
}

@media (min-width: 600px) {
    header h1 {
        display: inline;
        text-transform: uppercase;
    }

    header div>p {
        display: none;
    }

    header p {
        font-size: 2rem;
    }

    header nav {
        width: 200px;
    }

    header nav>a {
        font-size: 2rem;
    }

    header .fa-caret-down {
        font-size: 3rem;
    }
}

#about>div {
    height: 100%;
    width:60%;
    padding: 0 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#about h2, #about p:first-of-type {
    padding-bottom: 1rem;
    font-size: 2rem;
}

#about p:first-of-type {
    padding-bottom: 1.4rem;
    font-size: 2rem;
}

#about p {
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

#about p>span {
    background: var(--grey-1);
    padding: 0 0.4rem;
    color: var(--white);
}

#about .fa-caret-down {
    color: var(--grey-1);
}

#skillset {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--green-1);
}

#skillset * {
    color: var(--white);
}

#skillset>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#skillset h2 {
    padding: 1.5rem 0;
    font-size: 2rem;
}

#skillset ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#skillset ul li {
    width: 6rem;
    height: 2rem;
    margin: 0.5rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#skillset li>i {
    fill: var(--white);
    font-size: 1rem;
}

#skillset svg {
    fill: var(--white);
    height: 1rem;
    width: 1rem;
}

#skillset .fa-caret-down {
    color: var(--white);
}

#projects {
    width: calc(100% - 2rem);
    padding: 0 1rem 2rem 1rem;
}

#projects h2 {
    padding: 1.5rem 0 2rem 0;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

#projects-container>div {
    width: calc(100% - 2rem);
    height: calc(200px - 2em);
    background-color: var(--grey-1);
    padding: 1rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: left;
}

#projects-container h3, #projects-container p, #projects-container a {
    color: var(--white);
}

div.project-1 {
    grid-area: project-1;
    background: linear-gradient(0.25turn, rgba(200, 210, 225, 0.1), rgba(200, 210, 225, 0.2)), url("./assets/projects/architect.png");
    background-position: center;
    background-size: cover;
}

div.project-2 {
    grid-area: project-2;
    background: linear-gradient(0.25turn, rgba(210, 210, 255, 0.1), rgba(210, 210, 225, 0.2)), url("./assets/projects/spacefrens.png");
    background-position: center;
    background-size: cover;
}

div.project-3 {
    grid-area: project-3;
    background: linear-gradient(0.25turn, rgba(210, 225, 225, 0.1), rgba(225, 210, 225, 0.2)), url("./assets/projects/pokedex.png");
    background-position: center;
    background-size: cover;
}

div.project-4 {
    grid-area: project-4;
    background: linear-gradient(0.25turn, rgba(90, 20, 10, 0.2), rgba(90, 20, 10, 0.1)), url("./assets/projects/platformer-crop.png");
    background-position: center;
    background-size: cover;
}

#projects-container h3, #projects-container p, #projects-container a {
    width:fit-content;
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
    padding: 0.2rem 0.5rem;
    color: var(--white);
}

#projects-grid span>a {
    margin-right: 1rem;
}

#projects .fa-caret-down {
    color: var(--grey-1);
}

#interests {
    background-color: var(--orange-1);
    padding-bottom: 2rem;
}

#interests h2 {
    padding: 1.5rem 0;
    font-size: 2rem;
    color: white;
    text-align: center;
}

#interests-container>div {
    height: 11rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

#interests h3 {
    color: var(--white);
    font-size: 1.5rem;
}

#interests li {
    list-style-type: none;
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;
    padding-top: 0.2rem;
}

.interests-exercise {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("./assets/interests/exercise.jpeg");
}

.interests-music {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("./assets/interests/music.jpeg");
}

.interests-reading {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("./assets/interests/reading.jpeg");
}

.interests-tech {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("./assets/interests/tech.jpeg");
}

.interests-gaming {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("./assets/interests/gaming.jpeg");
}

.interests-lifestyle {
    background: linear-gradient(rgba(0, 40, 60, 0.5), rgba(0, 40, 60, 0.5)),  url("./assets/interests/lifestyle.jpeg");
}

#interests .fa-caret-down {
    color: var(--white);
}

#interests span {
    padding-top: 2rem;
}

footer {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

footer hr {
    width: 10rem;
    height: 0.2rem;
    margin: 1rem 0 2rem 0;
    border: none;
    background-color: var(--grey-1);
}

footer div>a {
    margin: 0 0.2rem;
}

footer span {
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
    height: 20%;
    text-align: center;

}

footer span>a {
    text-decoration: none;
    color: var(--grey-1);
}

footer i {
    font-size: 2rem;
}